In [1]:
import pandas as pd
import numpy as np
import re
import os

In [2]:
# read the csv file 
test_1 = pd.read_csv('./test_1.csv')
test_2 = pd.read_csv('./test_2.csv')
wt_1 = pd.read_csv('./wt_1.csv')
wt_2 = pd.read_csv('./wt_2.csv')

In [7]:
wt_1
# split the wt_1 with the K
wt_1_1 = wt_1[wt_1['k'] == 1]
wt_1_2 = wt_1[wt_1['k'] == 2]
wt_1_3 = wt_1[wt_1['k'] == 3]
wt_1_4 = wt_1[wt_1['k'] == 4]
wt_1_5 = wt_1[wt_1['k'] == 5]
wt_1_6 = wt_1[wt_1['k'] == 6]
wt_1_7 = wt_1[wt_1['k'] == 7]
wt_1_8 = wt_1[wt_1['k'] == 8]
wt_1_9 = wt_1[wt_1['k'] == 9]
wt_1_10 = wt_1[wt_1['k'] == 10]


wt_1

         word   prob   k  sort
0    positive  0.076   0     0
1       large  0.064   0     1
2     quarter  0.054   0     2
3       slide  0.029   0     3
4    previous  0.025   0     4
..        ...    ...  ..   ...
105     ratio  0.027  10     5
106    profit  0.021  10     6
107  included  0.018  10     7
108      rate  0.018  10     8
109  dividend  0.018  10     9

[110 rows x 4 columns]

In [6]:
wt_2
# split the wt_1 with the k
wt_2_1 = wt_2[wt_2['k'] == 1]
wt_2_2 = wt_2[wt_2['k'] == 2]
wt_2_3 = wt_2[wt_2['k'] == 3]
wt_2_4 = wt_2[wt_2['k'] == 4]
wt_2_5 = wt_2[wt_2['k'] == 5]
wt_2_6 = wt_2[wt_2['k'] == 6]
wt_2_7 = wt_2[wt_2['k'] == 7]
wt_2_8 = wt_2[wt_2['k'] == 8]
wt_2_9 = wt_2[wt_2['k'] == 9]
wt_2_10 = wt_2[wt_2['k'] == 10]
wt_2_11 = wt_2[wt_2['k'] == 11]
wt_2_12 = wt_2[wt_2['k'] == 12]
wt_2_13 = wt_2[wt_2['k'] == 13]
wt_2_14 = wt_2[wt_2['k'] == 14]
wt_2_15 = wt_2[wt_2['k'] == 15]

wt_2

            word   prob   k  sort
0          ratio  0.073   0     0
1          years  0.066   0     1
2           fact  0.051   0     2
3      morbidity  0.044   0     3
4     remarkable  0.037   0     4
..           ...    ...  ..   ...
155   volatility  0.031  15     5
156  catastrophe  0.031  15     6
157          uli  0.019  15     7
158      figures  0.013  15     8
159       rating  0.013  15     9

[160 rows x 4 columns]

In [5]:
# compare the similarity between the two topics
wt_1_1_similarity = wt_1_1.merge(wt_2_1, on='word', how='inner')
wt_1_2_similarity = wt_1_1.merge(wt_2_2, on='word', how='inner')
wt_1_3_similarity = wt_1_1.merge(wt_2_3, on='word', how='inner')
wt_1_4_similarity = wt_1_1.merge(wt_2_4, on='word', how='inner')
wt_1_5_similarity = wt_1_1.merge(wt_2_5, on='word', how='inner')
wt_1_6_similarity = wt_1_1.merge(wt_2_6, on='word', how='inner')
wt_1_7_similarity = wt_1_1.merge(wt_2_7, on='word', how='inner')
wt_1_8_similarity = wt_1_1.merge(wt_2_8, on='word', how='inner')
wt_1_9_similarity = wt_1_1.merge(wt_2_9, on='word', how='inner')
wt_1_10_similarity = wt_1_1.merge(wt_2_10, on='word', how='inner')
wt_1_11_similarity = wt_1_1.merge(wt_2_11, on='word', how='inner')
wt_1_12_similarity = wt_1_1.merge(wt_2_12, on='word', how='inner')
wt_1_13_similarity = wt_1_1.merge(wt_2_13, on='word', how='inner')
wt_1_14_similarity = wt_1_1.merge(wt_2_14, on='word', how='inner')
wt_1_15_similarity = wt_1_1.merge(wt_2_15, on='word', how='inner')

In [28]:
print("1st", wt_1_1_similarity)
print("2nd", wt_1_2_similarity)
print("3rd", wt_1_3_similarity)
print("4th", wt_1_4_similarity)
print("5th", wt_1_5_similarity)
print("6th", wt_1_6_similarity)
print("7th", wt_1_7_similarity)
print("8th", wt_1_8_similarity)
print("9th", wt_1_9_similarity)
print("10th", wt_1_10_similarity)
print("11th", wt_1_11_similarity)
print("12th", wt_1_12_similarity)
print("13th", wt_1_13_similarity)
print("14th", wt_1_14_similarity)
print("15th", wt_1_15_similarity)

wt_1_7_similarity

1st Empty DataFrame
Columns: [word, prob_x, k_x, sort_x, prob_y, k_y, sort_y]
Index: []
2nd Empty DataFrame
Columns: [word, prob_x, k_x, sort_x, prob_y, k_y, sort_y]
Index: []
3rd Empty DataFrame
Columns: [word, prob_x, k_x, sort_x, prob_y, k_y, sort_y]
Index: []
4th Empty DataFrame
Columns: [word, prob_x, k_x, sort_x, prob_y, k_y, sort_y]
Index: []
5th Empty DataFrame
Columns: [word, prob_x, k_x, sort_x, prob_y, k_y, sort_y]
Index: []
6th Empty DataFrame
Columns: [word, prob_x, k_x, sort_x, prob_y, k_y, sort_y]
Index: []
7th    word  prob_x  k_x  sort_x  prob_y  k_y  sort_y
0  year    0.06    1       1   0.128    7       0
8th        word  prob_x  k_x  sort_x  prob_y  k_y  sort_y
0    result   0.039    1       3   0.047    8       3
1  negative   0.028    1       4   0.016    8       7
9th Empty DataFrame
Columns: [word, prob_x, k_x, sort_x, prob_y, k_y, sort_y]
Index: []
10th Empty DataFrame
Columns: [word, prob_x, k_x, sort_x, prob_y, k_y, sort_y]
Index: []
11th Empty DataFrame
Columns: [word, prob_x, k_x, sort_x, prob_y, k_y, sort_y]
Index: []
12th Empty DataFrame
Columns: [word, prob_x, k_x, sort_x, prob_y, k_y, sort_y]
Index: []
13th Empty DataFrame
Columns: [word, prob_x, k_x, sort_x, prob_y, k_y, sort_y]
Index: []
14th Empty DataFrame
Columns: [word, prob_x, k_x, sort_x, prob_y, k_y, sort_y]
Index: []
15th Empty DataFrame
Columns: [word, prob_x, k_x, sort_x, prob_y, k_y, sort_y]
Index: []

   word  prob_x  k_x  sort_x  prob_y  k_y  sort_y
0  year    0.06    1       1   0.128    7       0